* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.cabecalho1 {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 100%;
    
}

.google {
    margin-left: 2rem;
    cursor: pointer;
}

.busca {
    margin-left: 3rem;
    margin-top: -0.2rem;
}

.busca1 {
    width: 37rem;
    height: 3rem;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px #ccc;
    
}

.busca1 i {
    position: absolute;
    
}

.fa-xmark {
    margin-left: -11rem;
    font-size: 21px;
    color: #797e82;
    cursor: pointer;
}

.fa-keyboard {
    margin-left: 1rem;
    font-size: 17px;
    color: #7b7b7b;
    cursor: pointer;
}

.fa-microphone {
    margin-left: 1rem;
    font-size: 18px;
    color: #4285f4;
    cursor: pointer;
}

.fa-camera {
    margin-left: 1rem;
    font-size: 16px;
    color: #4285f4;
    cursor: pointer;
}

.fa-magnifying-glass {
    margin-left: 1rem;
    font-size: 16px;
    color: #4285f4;
    cursor: pointer;
}

.icons {
    margin-left: 36rem;
    cursor: pointer;
}

.engrenagem {
   margin-left: 1rem;

}

.quadrado {
    margin-left: 1rem;
    
}

.login {
    margin-left: 1rem;
    
}

nav {
    display: flex;
    flex-direction: row;
}

.menu {
    padding: 1.5rem 12rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dadce0;
    gap: 1.5rem;
    font-size: 14px;
    
}

a {
    color: #5f6368;
}

.f1 {
    margin-left: 4rem;
    color: #5f6368;
    cursor: pointer;
    padding: 2px 9px;
    
}

.f1:hover {
    
    background-color: #f8f9fa;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1.5px #dadce0;
}

.estatistica {
    margin-left: 12rem;
    margin-top: 1rem;
    font-size: 14px;
    color: #70757a;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    margin-left: 12rem;
    margin-top: 1.5rem;
}

.patrocinio {
    font-size: 14px;
    font-weight: bold;
    color: #202124;
    font-family: inherit;
}

.b7 {
    margin-top: 0.5rem;
}

.s1 {
    font-size: 14px;
    color: #202124;
}

.s2 {
    font-size: 12px;
    color: #4d5156;
}

.inscricoes {
    margin-top: 0.5rem;
    font-size: 20px;
    color: #1a0dab;
    font-weight: 100;
}

.paragrafo1 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.subtopicosb7 {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.subtopico1 {
    line-height: 26px;
}

h3 {
    color: #1a0dab;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0.5rem;
}

h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(26, 13, 171);
    
}

span {
    font-size: 14px;
    color: #4d5156;
}

.subtopico2 {
    margin-top: 1rem;
}

.subtopico3 {
    margin-top: 1rem;
}

.subtopico4 {
    margin-top: 1rem;
}

.mozilla-css {
    margin-top: 0.5rem;
}

.m1 {
    font-size: 14px;
    color: #202124;
}

.m2 {
    font-size: 12px;
    color: #4d5156;
}

.paragrafo2 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

a {
    color: #1a0dab;
}

.subtopico2-css {
    margin-top: 1.5rem;
}

.css1 {
    font-size: 13px;
    color: #202124;
}

.subtopico-paragrafo2 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}