* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}

.cabecalho1 {
    margin-top: 1.5rem;
}

.google {
    margin-left: 2rem;
}

.busca {
    margin-left: 3rem;
    margin-top: -0.2rem;
}

.busca1 {
    width: 37rem;
    height: 3rem;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    
}

.busca1 i {
    position: absolute;
}

.fa-xmark {
    margin-left: -11rem;
    font-size: 21px;
    color: #797e82;
}

.fa-keyboard {
    margin-left: 1rem;
    font-size: 17px;
    color: #7b7b7b;
}

.fa-microphone {
    margin-left: 1rem;
    font-size: 18px;
    color: #4285f4;
}

.fa-camera {
    margin-left: 1rem;
    font-size: 16px;
    color: #4285f4;
}

.fa-magnifying-glass {
    margin-left: 1rem;
    font-size: 16px;
    color: #4285f4;
}

.icons {
    margin-left: 20rem;
}

.engrenagem {
   margin-right: -11rem;
   margin-left: 17rem;
}

.menu {
    margin-left: 1rem;
    
}

.login {
    margin-left: 1rem;
    
}

nav {
    display: flex;
    flex-direction: row;
    
}

.menu {
    margin-left: 12rem;
    margin-top: 1.5rem;
    font-size: 14px;
    gap: 25px;
    
}

a {
    text-decoration: none;
    color: #70757a;
}

.f1 {
    margin-left: 4rem;
    color: #70757a;
}

