@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.cabecalho1 {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 100%;
    
}

.google {
    margin-left: 2rem;
    cursor: pointer;
}

.busca {
    margin-left: 3rem;
    margin-top: -0.2rem;
}

.busca1 {
    width: 37rem;
    height: 3rem;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px #ccc;
    
}

.busca1 i {
    position: absolute;
    
}

.fa-xmark {
    margin-left: -11rem;
    font-size: 21px;
    color: #797e82;
    cursor: pointer;
}

.fa-keyboard {
    margin-left: 1rem;
    font-size: 17px;
    color: #7b7b7b;
    cursor: pointer;
}

.fa-microphone {
    margin-left: 1rem;
    font-size: 18px;
    color: #4285f4;
    cursor: pointer;
}

.fa-camera {
    margin-left: 1rem;
    font-size: 16px;
    color: #4285f4;
    cursor: pointer;
}

.fa-magnifying-glass {
    margin-left: 1rem;
    font-size: 16px;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-left: 36rem;
}

/*.icons {
    margin-left: 36rem;
    cursor: pointer;
}*/

.engrenagem {
   margin-left: 1rem;

}

.quadrado {
    margin-left: 1rem;
    
}

.login {
    margin-left: 1rem;
    
}

nav {
    display: flex;
    flex-direction: row;
}

.menu {
    padding: 1.5rem 12rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dadce0;
    gap: 1.5rem;
    font-size: 14px;
    
}

.pesquisar {
    padding-right: 0.2rem;
}

.image {
    padding-right: 0.3rem;
}

.videos {
    padding-right: 0.3rem;   
}

.shopping {
    padding-right: 0.3rem;
}

.livros {
    padding-right: 0.3rem;
}



a {
    
    color: #5f6368;
}

.f1 {
    margin-left: 4rem;
    color: #5f6368;
    cursor: pointer;
    padding: 2px 9px;
    
}

.f1:hover {
    
    background-color: #f8f9fa;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1.5px #dadce0;
}

.estatistica {
    margin-left: 12rem;
    margin-top: 1rem;
    font-size: 14px;
    color: #70757a;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    margin-left: 12rem;
    margin-top: 1.5rem;
}

.patrocinio {
    font-size: 14px;
    font-weight: bold;
    color: #202124;
    font-family: inherit;
}

.b7 {
    margin-top: 0.5rem;
}

.s1 {
    font-size: 14px;
    color: #202124;
}

.s2 {
    font-size: 12px;
    color: #4d5156;
}

.inscricoes {
    margin-top: 0.5rem;
    font-size: 20px;
    color: #1a0dab;
    font-weight: 100;
}

.paragrafo1 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.subtopicosb7 {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.subtopico1 {
    line-height: 26px;
}

h3 {
    color: #1a0dab;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0.5rem;
}

h3:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(26, 13, 171);
    
}

span {
    font-size: 14px;
    color: #4d5156;
}

.subtopico2 {
    margin-top: 1rem;
}

.subtopico3 {
    margin-top: 1rem;
}

.subtopico4 {
    margin-top: 1rem;
}

.mozilla-css {
    margin-top: 0.5rem;
}

.m1 {
    font-size: 14px;
    color: #202124;
}

.m2 {
    font-size: 12px;
    color: #4d5156;
}

.paragrafo2 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.subtopico2-css {
    margin-top: 1.5rem;
}

.css1 {
    font-size: 13px;
    color: #202124;
}

.subtopico-paragrafo2 {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.mozilla-html {
    margin-top: 1.5rem;
}

.h1 {
    font-size: 14px;
    color: #202124;
}

.h2 {
    font-size: 12px;
    color: #4d5156;
}

.paragrafo-html {
    margin-top: 0.3rem;
    font-size: 14px;
    color: #4d5156;
    line-height: 1.58;
}

.pesquisas {
    display: flex;
    flex-direction: column;
}

.pesquisas1 {
    margin-top: 2rem;
}

.pesquisas2 {
    font-size: 22px;
    font-weight: 400;
    color: #202124;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.inputs-a {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    
}

.i1 {
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i2 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i3 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i4 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.inputs-b {
    display: flex;
    flex-direction: column;   
    margin-left: 1rem;
    
}

.i5 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i6 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i7 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i8 {
    margin-top: 0.5rem;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #f1f3f4;
    border: none;
    font-size: 15px;
}

.i1:hover {
    cursor: pointer;
}

.i2:hover {
    cursor: pointer;
}

.i3:hover {
    cursor: pointer;
}

.i4:hover {
    cursor: pointer;
}

.i5:hover {
    cursor: pointer;
}

.i6:hover {
    cursor: pointer;
}

.i7:hover {
    cursor: pointer;
}

.i8:hover {
    cursor: pointer;
}

.gooogle {
    display: flex;
    flex-direction: column;
    margin-left: 22rem;
}

.googlepags {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    
}

.numeracao {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #4285f4;
}

.g {
    font-size: 35px;
    color: #4285f4;   
}

.o1 {
    font-size: 35px;
    color: #ea4335;
}

.o2 {
    font-size: 35px;
    color: #fbbc05;
}

.o3 {
    font-size: 35px;
    color: #fbbc05;
}

.o4 {
    font-size: 35px;
    color: #fbbc05;
}

.o5 {
    font-size: 35px;
    color: #fbbc05;
}

.o6 {
    font-size: 35px;
    color: #fbbc05;
}

.o7 {
    font-size: 35px;
    color: #fbbc05;
}

.o8 {
    font-size: 35px;
    color: #fbbc05;
}

.o9 {
    font-size: 35px;
    color: #fbbc05;
}

.o10 {
    font-size: 35px;
    color: #fbbc05;
}

.g1 {
    font-size: 35px;
    color: #4285f4;
}

.l {
    font-size: 35px;
    color: #38a956;
}

.e {
    font-size: 35px;
    color: #ea4335;
    
}

.seta {
    margin-left: 1rem;
    font-size: 20px;
    color: #4285f4;
}

.numeracao {
    margin-left: 2rem;
}

.p1 {
    color: #050505;
}

.p2 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p3 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p4 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p5 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p6 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p7 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p8 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p9 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.p10 {
    margin-left: 0.6rem;
    color: #4285f4;
}

.mais {
    margin-left: 3.5rem;
    font-size: 14px;
    color: #4285f4;
}

.p1:hover {
    cursor: text;
}

.p2:hover {
    text-decoration: underline;
}

.p3:hover {
    text-decoration: underline;
}

.p4:hover {
    text-decoration: underline;
}

.p5:hover {
    text-decoration: underline;
}

.p6:hover {
    text-decoration: underline;
}

.p7:hover {
    text-decoration: underline;
}

.p8:hover {
    text-decoration: underline;
}

.p9:hover {
    text-decoration: underline;
}

.p10:hover {
    text-decoration: underline;
}

.mais:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.rodape {
    margin-top: 3rem;
}

.f_1 {
    display: flex;
    flex-direction: row;
    padding: 12rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    
}

.brasil {
    padding-right: 1rem;
    border-right: 1px solid #dadce0;
}

.lugar {
    margin-left: 1rem;
    color: #4d5156;
    font-weight: bold;
    font-size: 14px;
}

.lugar:hover {
    cursor: pointer;
}

.f_2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 3rem;
    margin-left: 12rem;
    padding-top: 1rem;
    font-size: 14px;
    color: #70757a;
}

@media screen and (max-width: 1072px) {
    .icons {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
    }
    .engrenagem {
        margin-left: 1rem;

    }

    .quadrado {
        margin-left: 1rem;
    
    }

    .login {
        margin-left: 1rem;
    
    }

    .f_2 {
        padding: bottom 1.5em;
    }
    
}

@media screen and (max-width: 900px) {
    
}
